<header>
  <section class="mb-1">
    <div class="text-center text-gray-800 py-10 px-6">
      <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-6">
        Find your pet <br /><span class="text-yellow-600">Rescue a pet</span>
        <br /><span class="text-orange-600">Adopt a pet</span>
      </h1>
    </div>
  </section>
</header>
<main class="px-4 sm:px-6 lg:px-8">
  <div>
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
