<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "Rescutex"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script>
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key:  "<%= @api_key %>",
      v: "weekly",
      // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
      // Add other bootstrap parameters as needed, using camel case.
      });
    </script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js">
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <header class="bg-white shadow-md">
    <nav
      id="main-navbar"
      class="container mx-auto px-4 py-2 flex items-center justify-between"
      phx-hook="MobileMenu"
    >
      <!-- Left (rescute logo)-->
      <div>
        <a href="/pets">
          <img src={~p"/images/rescute_logo.png"} width="150" class="max-w-full" />
        </a>
      </div>
      
<!-- Right-->
      <div>
        <!-- Mobile menu button -->
        <div class="lg:hidden">
          <button
            type="button"
            class="block text-gray-500 hover:text-gray-700 focus:text-gray-700 focus:outline-none"
            data-menu-button
          >
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>
        </div>
        
<!-- Desktop and Mobile Menu -->
        <div class="hidden lg:flex flex-grow items-center justify-end relative" data-menu>
          <div class="flex flex-col lg:flex-row lg:items-center lg:gap-4 absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-20 lg:static lg:mt-0 lg:w-auto lg:bg-transparent lg:shadow-none">
            <%= if @current_user do %>
              <a
                href={~p"/users/my_pets"}
                class="block px-4 py-2 font-semibold text-gray-800 rounded-t hover:bg-gray-100"
              >
                My Pets
              </a>
              <a
                href={~p"/map"}
                class="block px-4 py-2 font-semibold text-gray-800 rounded-t hover:bg-gray-100"
              >
                Map
              </a>
              <.link
                href={~p"/users/settings"}
                class="block px-4 py-2 font-semibold text-blue-600 rounded-t hover:bg-gray-100"
              >
                {@current_user.email}
              </.link>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="block px-4 py-2 font-semibold bg-blue-600 text-white rounded-t hover:bg-blue-700"
              >
                Log Out
              </.link>
            <% else %>
              <.link
                href={~p"/users/log_in"}
                class="block px-4 py-2 font-semibold text-blue-600 rounded-t hover:bg-gray-100"
              >
                Log in
              </.link>
              <.link
                href={~p"/users/register"}
                class="block px-4 py-2 font-semibold bg-blue-600 text-white rounded-t hover:bg-blue-700"
              >
                Start helping
              </.link>
            <% end %>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <body class="bg-white overflow-x-hidden">
    {@inner_content}
  </body>
</html>
